data/*
data
data_roc/*
data_roc
.DS_Store
*.pyc
*.gdoc
*.out
slurm_run_scripts/
images/*
*.hdr
*.png
*.pdf
tests/tests_output/*
*.swp
*.swo
*.gif
*.pkl
*.lst
pytorch/figures/
pytorch/figures/*
pytorch/models/
pytorch/models/*
archived
archived/*
Icon?
Icon
tests_probability_images/*
*.csv
summary_figures/
